/.github/*                @sodiqjonovich
/src/Fresh.DataAccess/*   @sanjarmavlonov
/src/Fresh.Domain/*       @sanjarmavlonov
/src/Fresh.Service/*      @samandarbaxodirovich
/src/Fresh.Desktop/*      @shoxruxhusenov
